@font-face {
    font-family: 'Canobis';
    src: url(fonts/Canobis-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleMedium';
    src: url(fonts/GoogleSans-Medium-v1.27.ttf);
}

@font-face {
    font-family: 'GoogleRegular';
    src: url(fonts/GoogleSansDisplay-Regular-v1.27.ttf);
}

body {
    overflow: hidden;
    font-family: 'GoogleMedium', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-size: cover;
    color: #3b2f2f;
}

.header{
    text-align: center;
    padding: 20px 0;
}

.header img {
    width: 400px;
    height: auto;
}

.container {
    overflow: hidden;
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img{
    size: 20px;
}

h1 {
    margin-bottom: 20px;
    font-family: "Dela Gothic One", sans-serif;
    color: #d4a017;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    background-color: white;
    color: #d4a017;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'GoogleMedium', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

label{
    
}

button {
    font-family: "GoogleMedium";
    width: 100%;
    --bg: #000;
    --hover-bg: #d4a017;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

button:active {
    transform: translate(0);
    box-shadow: none;
}

button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

#result {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'GoogleMedium', sans-serif;
}

#result d-button {
    display: inline-block;
    margin-top: 20px;
    padding: 0.8em 2em;
    background-color: #d4a017;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'GoogleRegular', sans-serif;
    font-weight: lighter;
    border: 1px solid #000; /* Remove default button border */
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

#result d-button:active{
    transform: translate(0);
    box-shadow: none;
}

#result d-button:hover {
    font-weight: lighter;
    border: 1px solid #d4a017;
    transform: translate(-0.25rem, -0.25rem);
    background: #000;
    color: #fff;
    box-shadow: 0.25rem 0.25rem #d4a017;
}

#result d-button .download-text {
    font-size: 16px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

footer {
    font-family: "GoogleRegular";
    text-align: center;
    padding: 20px 0;
    color: white;
    position: fixed; /* Fixed position at the bottom */
    width: 100%;
    bottom: 0;
}


/* Add this CSS at the end of your existing styles */

/* Media query for screens smaller than 768px (typical mobile screens) */
@media (max-width: 767px) {
    .header img {
        width: 80%; /* Make the logo width 80% of the viewport width */
    }

    .container {
        padding: 15px; /* Reduce padding for smaller screens */
    }

    h1 {
        font-size: 24px; /* Reduce font size for headings on smaller screens */
    }

    input {
        font-size: 16px; /* Reduce font size for input fields on smaller screens */
    }

    button {
        font-size: 16px; /* Reduce font size for buttons on smaller screens */
    }

    footer{
        font-size: 13px;
    }

    #result {
        font-size: 20px; /* Adjust font size for the result on smaller screens */
    }
}



